* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background: rgba(0, 0, 0, 0.899);
}
.navbar {
  background: linear-gradient(to right, #6e0a87de, #e23daea3);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  margin: 5px 5px;
  top: 0;
  right: 0.1%;
  left: 0.1%;
  border-radius: 15px;
  /* z-index: 1000; */
}
.navbar button {
  cursor: pointer;
  color: white;
  background-color: #bc0dc9;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 8px;
}
.navbar button:hover {
  background-color: #e23daea3;
}
.navbar button:active {
  background-color: #6e0a87de;
}

.search-section {
  text-align: center;
  background: linear-gradient(to right, #6e0a87de, #e23daea3);
  margin: 100px 80px;
  padding: 30px;
  border-radius: 40px;
}
.search-section h1 {
  color: white;
  font-size: 2.5em;
  margin: 10px 0 20px 0;
}
.search-section input,
.search-section select,
.search-section select option,
.search-section button {
  padding: 10px;
  margin: 5px;
  border: 5px solid white;
  border-radius: 10px;
}
